$color-primary: #c03336;
$color-secondary: #131680;
$color-tertiary: #168013;
$color-primary-darker: #b02326;
$color-secondary-darker: #030660;
$color-tertiary-darker: #066003;
$color-primary-opacity: #a8404442;
$color-secondary-opacity: #6a6cad4b;
$color-tertiary-opacity: #68aa663d;
$gradient-primary: linear-gradient(to top left, #c03336, #f06366);
$bg-color: #37383d;
